<footer
	class="bg-red-100 min-h-5 backdrop-blur-xl px-8 py-4 rounded-lg flex justify-between items-center align-center"
>
	<a
		href="https://ng-kenya.com/home"
		target="_blank"
		class="relative block w-24 h-24"
	>
		<svg
			viewBox="0 0 100 100"
			class="absolute w-full h-full animate-spin"
			style="animation-duration: 20s"
		>
			<defs>
				<path
					id="circlePath"
					d="M 50, 50 m -35, 0 a 35,35 0 1,1 70,0 a 35,35 0 1,1 -70,0"
				/>
			</defs>
			<text
				fill="black"
				font-size="15"
				font-family="sans-serif"
			>
				<textPath
					href="#circlePath"
					startOffset="0"
					textLength="600"
				>
					* NG-KENYA * TICKETS * NG-KENYA *
				</textPath>
			</text>
		</svg>
	</a>
	<a
		href="https://github.com/TechMadi"
		target="_blank"
		class="hover:underline text-xl hover:font-semibold"
		>Prepared by Tech Madi</a
	>
</footer>
