<!-- Start of Navigation -->
<div class="space-x-10">
	@if (!authService.isLoggedIn) {
	<button
		class="py-2 px-3 w-fit inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-yellow-700 bg-transparent text-yellow-700 hover:bg-yellow-700 hover:text-black focus:outline-hidden focus:bg-yellow-500 transition disabled:opacity-50 disabled:pointer-events-none pointer-events-cursor cursor-pointer"
		(click)="signIn()"
	>
		Sign In
	</button>
	}@else {
	<button
		class="py-2 px-3 w-fit inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-yellow-700 bg-transparent text-yellow-700 hover:bg-yellow-700 hover:text-black focus:outline-hidden focus:bg-yellow-500 transition disabled:opacity-50 disabled:pointer-events-none pointer-events-cursor cursor-pointer"
		(click)="authService.logout()"
	>
		Sign Out
	</button>
	}

	<button
		class="py-2 px-3 w-fit inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-yellow-700 bg-transparent text-yellow-700 hover:bg-yellow-700 hover:text-black focus:outline-hidden focus:bg-yellow-500 transition disabled:opacity-50 disabled:pointer-events-none pointer-events-cursor cursor-pointer"
		(click)="addTalk()"
	>
		Add Talk
	</button>
</div>
<!-- End of navigation -->
<main>
	<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12">
			@for (talk of talks; track $index) {
			<!--Start Of Card  -->
			<div class="group flex flex-col">
				<div class="relative">
					<div class="aspect-4/4 overflow-hidden rounded-2xl">
						<img
							class="size-full object-cover rounded-2xl"
							src="https://picsum.photos/seed/picsum/200/300"
							alt="Session Title"
						/>
					</div>

					<div class="pt-4">
						<p class="mt-2 font-semibold text-black my-auto">
							{{talk.speaker}}
						</p>
						<h3 class="font-medium md:text-md text-black">{{talk.title}}</h3>
					</div>

					<a
						class="after:absolute after:inset-0 after:z-1"
						href="#"
					></a>
				</div>

				<div class="mb-2 mt-4 text-sm">
					<!-- List -->
					<div class="flex flex-col">
						<!-- Item -->
						<div class="py-3 border-t border-gray-200">
							<div class="grid grid-cols-2 gap-2">
								<div>
									<span class="font-medium text-black"> Category :</span>
								</div>

								<div class="text-end">
									<span class="text-black">{{talk.category}}</span>
								</div>
							</div>
						</div>
						<!-- End Item -->

						<!-- Item -->
						<div class="py-3 border-t border-gray-200">
							<div class="grid grid-cols-2 gap-2">
								<div>
									<span class="font-medium text-black">Date :</span>
								</div>

								<div class="flex justify-end">
									<span class="text-black">{{talk.date.toDate() | date}}</span>
								</div>
							</div>
						</div>
						<!-- End Item -->

						<!-- Item -->
						<div class="py-3 border-t border-gray-200">
							<div class="grid grid-cols-2 gap-2">
								<div>
									<span class="font-medium text-black">Link :</span>
								</div>

								<div class="text-end">
									<span class="text-black">San Paulo</span>
								</div>
							</div>
						</div>
						<!-- End Item -->
					</div>
					<!-- End List -->
				</div>

				<div class="mt-auto flex justify-between gap-4">
					<button
						class="py-2 px-3 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-yellow-700 bg-transparent text-yellow-700 hover:bg-yellow-700 hover:text-black focus:outline-hidden focus:bg-yellow-500 transition disabled:opacity-50 disabled:pointer-events-none pointer-events-cursor cursor-pointer"
					>
						Upload Slides
					</button>
					<button
						class="py-2 px-3 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-transparent bg-yellow-700 text-black hover:bg-yellow-500 focus:outline-hidden focus:bg-yellow-500 transition disabled:opacity-50 disabled:pointer-events-none cursor-pointer"
						(click)="addTalk()"
					>
						Get Summary
					</button>
				</div>
			</div>
			<!-- End Card -->
			}
		</div>
	</div>
</main>
